html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20pt;
}

body {
    zoom: 125%;
}

main {
    top: 100pt;
    padding: 20pt 0pt 0pt 0pt;
}

figure {
    text-align: center;
    display: inline-block;
}

figure figcaption {
    vertical-align: top;
}

p1 b {
    color: ;
}