html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20pt;
}

row {
    
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: darkblue;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width:100%;
}

header li {
    float: left;

}

header li a{ 
    color: white;
    display: block;
    text-decoration: none;
    padding: 10pt 10pt 10pt 10pt
}

header li a:hover{
    background-color:white;
    color:darkblue;

}

header .active{
    background-color: blue;
}

main {
    top: 100pt;
    padding: 20pt 0pt 0pt 0pt; 
}
  
  
figure {
    text-align: center;
    display: inline-block;
}

figure figcaption{
    vertical-align: top;
}